{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Client Contacts</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/graphik_font.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_select_2.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/agency_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/agency_settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_user.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_list.css' %}">

</head>
<body>
    <div class="client_contact_page cl_contact_page rw_modal_backdrop">
        <header class="rw_header_wrapper">
            <div class="rw_header_inner">            
                <div class="header_title agency_header_title" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                    <h3 >StarBucks</h3>
                    <p>Client Account</p>
                </div>
                <div class="header_profile">
                    <a href="{% url 'logout' %}">
                        <h4>{{ username }}</h4>
                        <div class="header_profile_image">
                            <img src="{% static 'images/profile.jpg' %}" alt="image">
                        </div>
                    </a>
                </div>
                <div class="rw_hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="rw_sidebar">
                <div class="header_logo">
                    <a href=""><img src="{% static 'images/logo.svg' %}" alt="logo"></a>
                </div>
                <ul>
                    <li><a href="" ><img src="{% static 'images/icons/dashboard.svg' %}" alt="dashboard"></a></li>
                    <li><a href="" class="active"><img src="{% static 'images/icons/contact.svg' %}" alt="contact"></a></li>
                    <li><a href="" ><img src="{% static 'images/icons/bar.svg' %}" alt="bar"></a></li>
                    <li><a href=""><img src="{% static 'images/icons/broadcast.svg' %}" alt="broadcast"></a></li>
                    <li><a href="" ><img src="{% static 'images/icons/campaigns.svg' %}" alt="campaigns"></a></li>
                    <li><a href=""><img src="{% static 'images/icons/coupon.svg' %}" alt="coupon"></a></li>
                    <li><a href="{% url 'customField' %}"><img src="{% static 'images/icons/settings.svg' %}" alt="settings"></a></li>
                </ul>
            </div>
        </header>
        <div class="rw_inner_area">
            <div class="rw_dashboard_box_wrapper">
                <div class="admin_header agency_header">
                    <div class="dashboard_title">
                        <h1>Contacts</h1>
                    </div> 
                </div>
            </div> 
            <div class="admin_user_select">
               <div class="d-flex">
                <div class="rw_selectbox tags">
                    <select >
                        <option value="">Tags</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </div>  
                <div class="rw_selectbox bulkaction">
                    <select  >
                        <option value="">Bulk Actions</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </div> 
               </div>   
               <div class="search_icon_wrapper">                          
                    <div class="rw_dashboard_btn">
                        <a href="javascript:;" class="rw_btn" data-bs-toggle="modal" data-bs-target="#add_contact_tolist">+Add Contact</a>
                    </div>
               </div>
            </div> 
            <div class="rw_table_wrapper">
                <div class="rw_table_inner rw_admin_user_table rw_client_contact_table ">                
                    <table id="rw_cl_contact_table" class="table rw_pagination " >
                        <thead>
                            <tr>
                                <th>
                                    <div class="rw_checkbox ">
                                        <input type="checkbox" id="Number1" class="check_input">
                                        <label for="Number1">Number</label>
                                    </div>
                                </th>
                                <th>Name</th>
                                <th>Date</th>
                                <th class="text-center">Sales</th>
                                <th class="sorting_none text-center">status</th>
                                <th class="sorting_none text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if contacts_data %}
                                {% for contact in contacts_data %}
                                    <tr>
                                        <td>
                                        <div class="rw_checkbox ">
                                            <input type="checkbox" id="checkbox2" class="check_input" checked>
                                            <label for="checkbox2">{{contact.phone_no}}</label>
                                        </div>
                                        </td>
                                        <td>{{ contact.first_name }} {{contact.last_name}}</td>
                                        <td>Added on {{ contact.add_date }}</td>
                                        <td class="text-center">$100</td>
                                        <td class="text-center">
                                            <div class="rw_toggle_switch">
                                            <div class="rw_switch">
                                                <input type="checkbox"  checked>
                                            </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="action_dropdown">
                                            <ul class="drop_ul">
                                                <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="{% static 'images/icons/action.svg' %}" alt="action"></a>
                                                    <ul class="action_submenu">
                                                        <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#add_campaigns"><img src="{% static 'images/icons/colored_icon/campaing.svg' %}" alt="image">Add to Campaign</a></li>
                                                        <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#add_list"><img src="{% static 'images/icons/colored_icon/bar.svg' %}" alt="image">Add to List</a></li>
                                                        <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#message_popup"><img src="{% static 'images/icons/message.svg' %}" alt="image">Send Message</a></li>
                                                        <li><a href='javascript:;' class="remove_action" onclick="edit_contact('{{contact.id}}')" data-bs-toggle="modal" data-bs-target="#edit_popup"><img src="{% static 'images/icons/edit.svg' %}" alt="image">Edit</a></li>
                                                        <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#delete_confirm_popup"><img src="{% static 'images/icons/delete.svg' %}" alt="image">delete</a></li>
                                                    </ul>
                                                </li>
                                            </ul>                                    
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}         
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
        <div class="offcanvas offcanvas-start agency_offcanvas" tabindex="-1" id="offcanvasExample">
            <div class="offcanvas-body">
                <div class="acoount_list_body">
                    <div class="master_ac">
                        <h4>Master Account</h4>
                        <div class="master_ac_inner">
                            <div class="master_ac_img">
                                <img src="{% static 'images/icons/circle_checkmark.svg' %}" alt="image">
                            </div>
                            <div class="master_ac_text">
                                <h3>The One Media</h3>
                                <p>Client Login</p>
                            </div>
                        </div>
                    </div>
                    <div class="client_accounts">
                        <div class="cs_accounts">
                            <h4>Client Accounts</h4>
                            <div class="sorting">
                                <a href="javascript:;"><img src="{% static 'images/icons/sort_up.svg' %}" alt="image"></a>
                                <a href="javascript:;"><img src="{% static 'images/icons/sort_down.svg' %}" alt="image"></a>
                            </div>
                        </div>
                        <div class="search_box">
                            <input type="text" placeholder="Search accounts..">
                            <a href="javascript:;" class="inp_icon"><img src="{% static 'images/icons/small_search.svg' %}"
                                    alt="image"></a>
                        </div>
                        <ul class="clientuser_list">
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>S</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Starbucks 1</h5>
                                                <p>Starbucks</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>W</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Walmart 1</h5>
                                                <p>Walmart</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>G</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Global Fresh Market 1</h5>
                                                <p>Global Fresh Market</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>D</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Dollar Pantry 1</h5>
                                                <p>Dollar Pantry</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>F</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Fresh Food Marketplace 1</h5>
                                                <p>Fresh Food Marketplace</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>r</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Rancher's Grocery 1</h5>
                                                <p>Rancher's Grocery</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>J</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Jamboree Marketplace 1</h5>
                                                <p>Client Account</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="add_client">+ Add New Client</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit contact Popup -->
    <div class="modal fade rw_modal add_contact edit_contacts" id="edit_popup" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form action="" method="post" id="edit-contact">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal_title">
                            <h4>Edit Contact</h4>
                        </div>
                    <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg' %} " alt="close"></a>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <input type="hidden" id="edit_id">
                            <div class="col-md-12">
                                <div class="rw_form_inputs">
                                    <label class="rw_form_label">Phone Number</label>
                                    <div class="rw_input">
                                        <input type="number" id="edit_phone" placeholder="Phone Number"pattern="[0-9]+" max_length="10" required>
                                        <span class="input_icon phone"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="rw_form_inputs">
                                    <label class="rw_form_label">First Name</label>
                                    <div class="rw_input">
                                        <input type="text" id="edit_fname" placeholder="First Name" pattern="[a-zA-Z]+" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="rw_form_inputs">
                                    <label class="rw_form_label">Last Name</label>
                                    <div class="rw_input">
                                        <input type="text" id="edit_lname" placeholder="Last Name" pattern="[a-zA-Z]+" required>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="rw_form_inputs rw_date_input">
                                    <label  class="rw_form_label">Birthday</label>
                                    <div class="rw_input">
                                        <input type="text" class="date_input" placeholder="mm-dd" id="rw_date_month1" required>
                                        <span class="input_icon calendar"></span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="rw_form_inputs rw_date_input">
                                    <label class="rw_form_label">Anniversary</label>
                                    <div class="rw_input">
                                        <input type="text" class="date_input" placeholder="mm-dd" id="rw_date_month2" required>
                                        <span class="input_icon calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="rw_form_inputs rw_select2_inputs">
                                    <label class="rw_form_label">Tags</label>
                                    <div class="rw_select2">
                                        <span class="input_icon caret"></span>
                                        <select id="edit_tags" class="js-states form-control" required>
                                            <option value="Birthday">Birthday</option>
                                            <option value="Wedding">Wedding</option>
                                            <option value="Anniversary">Anniversary</option>
                                            <option value="Party">Party</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="rw_form_inputs">
                                    <label class="rw_form_label">Override Time Zone</label>
                                    <div class="rw_select2">
                                        <span class="input_icon caret"></span>
                                        <select id="edit_override" class="js-states form-control" required>
                                            <option value="EST">Eastern Standard Time</option>
                                            <option value="IST">India Standard Time</option>
                                            <option value="ACT">Australian Central Time</option>
                                            <option value="JST">Japan Standard Time</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {% if fields_data %}
                                {% for field in fields_data %}
                                    <div class="col-md-12">
                                        <div class="rw_form_inputs">
                                            <label class="rw_form_label">{{ field.field_name }}</label>
                                            <input type="hidden" class="custom-edit-id" id="id_{{field.id}}" value="{{field.id}}"/>
                                            <div class="rw_input">
                                                {% if field.field_type == 'Large Text' %}
                                                    <textarea cols="70%" rows="3" name="{{field.field_name|lower}}" class = "custom-edit" id="edit_{{field.field_name}"  ></textarea>
                                                {% else %}
                                                    <input type="{{field.field_type}}" name="{{field.field_namelower}}" class = "custom-edit {%if field.field_type == 'Date' %}date_input{%endif%}" placeholder="{{field.place_holder}}" id="edit_{{field.field_name}}" />
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                    <ul class="modal_btns">
                        <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">cancel</a></li>
                        <li><button type="submit" href="javascript:;" class="modal_btn" >Save</button></li>
                    </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
<!-- Add contact Popup -->
    <div class="modal fade rw_modal add_contact" id="add_contact_tolist" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <form action="" method="post" id="contact-form">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal_title">
                        <h4>Add Contact</h4>
                    </div>
                <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg' %} " alt="close"></a>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="rw_form_inputs">
                                <label  class="rw_form_label">Phone Number</label>
                                <div class="rw_input">
                                    {{contactForm.phone_no}}
                                    <!-- <input type="number" placeholder="Phone Number" value="919999999999"> -->
                                    <span class="input_icon phone"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rw_form_inputs">
                                <label  class="rw_form_label">First Name</label>
                                <div class="rw_input">
                                    {{contactForm.first_name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rw_form_inputs">
                                <label  class="rw_form_label">Last Name</label>
                                <div class="rw_input">
                                    {{contactForm.last_name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rw_form_inputs rw_date_input">
                                <label  class="rw_form_label">Birthday</label>
                                <div class="rw_input">
                                    {{contactForm.birthday}}
                                    <span class="input_icon calendar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rw_form_inputs rw_date_input">
                                <label  class="rw_form_label">Anniversary</label>
                                <div class="rw_input">
                                    {{contactForm.anniversary}}
                                    <span class="input_icon calendar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="rw_form_inputs rw_select2_inputs">
                                <label class="rw_form_label">Tags</label>
                                <div class="rw_select2">
                                    <span class="input_icon caret"></span>
                                    {{contactForm.tags}}
                                </div>
                            </div>                         
                        </div> 
                        <div class="col-md-12">
                            <div class="rw_form_inputs rw_select2_inputs">
                                <label class="rw_form_label">Override Time Zone</label>
                                <div class="rw_select2">
                                    <span class="input_icon caret"></span>
                                    {{contactForm.override_timezone}}
                                </div>
                            </div>
                        </div>
                        {% if fields_data %}
                            {% for field in fields_data %}
                                <div class="col-md-12">
                                    <div class="rw_form_inputs">
                                        <label class="rw_form_label">{{ field.name }}</label>
                                        <input type="hidden" class="custom-field-id" id="id_{{field.id}}" value="{{field.id}}"/>
                                        <div class="rw_input">
                                            {% if field.type == 'Large Text' %}
                                                <textarea cols="70%" rows="3" name="{{field.name|lower}}" class = "custom-fields" id="id_{{field.name}}"  ></textarea>
                                            {% else %}
                                                <input type="{{field.type}}" name="{{field.name|lower}}" class = "custom-fields {%if field.type == 'Date' %}date_input{%endif%}" placeholder="{{field.place_holder}}" id="id_{{field.name}}" />
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="text-danger" role="alert" id="error-add-contact"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <ul class="modal_btns">
                        <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">cancel</a></li>
                        <li><button type="submit" href="javascript:;" class="modal_btn" >add</button></li>
                    </ul>
                </div>
            </div>
        </form>
        </div>
    </div>
<!-- Add campaigns -->
    <div class="modal fade rw_modal client_list_modal client_list_modal_2" id="add_campaigns" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Add to Campaign</h4>
                </div>
            <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg' %} " alt="close"></a>
            </div>
            <div class="modal-body">           
                <div class="search_box">
                    <input type="text" placeholder="Search Campaigns">
                    <a href="javascript:;" class="inp_icon"><img src="{% static 'images/icons/search_big.svg' %} "  alt="image"></a>                            
                </div>
                <div class="rw_table_wrapper rw_popup_table_wrapper">
                    <div class="rw_table_inner  rw_popup_table">                
                        <table id="addto_campaings_id" class="table rw_pagination" >
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>                    
                            <tr>
                                <td>
                                    <div class="rw_checkbox">
                                        <input type="checkbox" class="check_input" name="radio" id="Referral_Program">
                                        <label for="Referral_Program">Referral Program</label>
                                    </div>
                                </td>
                                <td>3 Dec, 2021  03:00 PM</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="rw_checkbox">
                                        <input type="checkbox" class="check_input" name="radio" id="Referral_Program2">
                                        <label for="Referral_Program2">Referral Program</label>
                                    </div>
                                </td>
                                <td>3 Dec, 2021  03:00 PM</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="rw_checkbox">
                                        <input type="checkbox" class="check_input" name="radio" id="Referral_Program3">
                                        <label for="Referral_Program3">Referral Program</label>
                                    </div>
                                </td>
                                <td>3 Dec, 2021  03:00 PM</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="rw_checkbox">
                                        <input type="checkbox" class="check_input" name="radio" id="Referral_Program4">
                                        <label for="Referral_Program4">Referral Program</label>
                                    </div>
                                </td>
                                <td>3 Dec, 2021  03:00 PM</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>  
            </div>
            <div class="modal-footer border_none">
            <ul class="modal_btns">
                <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">cancel</a></li>
                <li><a href="javascript:;" class="modal_btn" >add</a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
<!--Add to List -->
    <div class="modal fade rw_modal client_list_modal client_list_modal_2" id="add_list" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Add to List</h4>
                </div>
            <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg' %} " alt="close"></a>
            </div>
            <div class="modal-body">           
                <div class="search_box">
                    <input type="text" placeholder="Search Lists">
                    <a href="javascript:;" class="inp_icon"><img src="{% static 'images/icons/search_big.svg' %} "  alt="image"></a>                            
                </div>
                <div class="rw_table_wrapper rw_popup_table_wrapper">
                    <div class="rw_table_inner rw_client_contact_table rw_popup_table">                
                        <table id="add_tolist_id" class="table rw_pagination" >
                            <thead>
                                <tr>
                                    <th>List Name</th>
                                    <th>Contacts</th>
                                </tr>
                            </thead>
                            <tbody>                    
                            <tr>
                                <td>
                                    <div class="rw_checkbox ">
                                        <input type="checkbox" id="checkbox20" class="check_input" checked>
                                        <label for="checkbox20">Discount  Offer</label>
                                    </div>
                                </td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="rw_checkbox ">
                                        <input type="checkbox" id="checkbox21" class="check_input" checked>
                                        <label for="checkbox21">Discount  Offer</label>
                                    </div>
                                </td>
                                <td>100</td>
                            </tr> <tr>
                                <td>
                                    <div class="rw_checkbox ">
                                        <input type="checkbox" id="checkbox22" class="check_input" checked>
                                        <label for="checkbox22">Discount  Offer</label>
                                    </div>
                                </td>
                                <td>100</td>
                            </tr> <tr>
                                <td>
                                    <div class="rw_checkbox ">
                                        <input type="checkbox" id="checkbox23" class="check_input" checked>
                                        <label for="checkbox23">Discount  Offer</label>
                                    </div>
                                </td>
                                <td>100</td>
                            </tr> <tr>
                                <td>
                                    <div class="rw_checkbox ">
                                        <input type="checkbox" id="checkbox24" class="check_input" checked>
                                        <label for="checkbox24">Discount  Offer</label>
                                    </div>
                                </td>
                                <td>100</td>
                            </tr> <tr>
                                <td>
                                    <div class="rw_checkbox ">
                                        <input type="checkbox" id="checkbox25" class="check_input" checked>
                                        <label for="checkbox25">Discount  Offer</label>
                                    </div>
                                </td>
                                <td>100</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>  
            </div>
            <div class="modal-footer border_none">
            <ul class="modal_btns">
                <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">cancel</a></li>
                <li><a href="javascript:;" class="modal_btn" >add</a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
<!-- Delete Popup -->
    <div class="modal fade rw_modal delete_popup" id="delete_confirm_popup" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Delete Contacts</h4>
                </div>
              <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg' %} " alt="close"></a>
            </div>
            <div class="modal-body">
                <div class="delete_modal_body">
                    <img src="{% static 'images/delete_popup.svg' %} " alt="">
                    <h1>Delete 1,239 Contacts</h1>
                    <p>Are you sure you want to delete 1239 contacts?</p>
                </div>
            </div>
            <div class="modal-footer">
             <ul class="modal_btns">
                 <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">no</a></li>
                 <li><a href="javascript:;" class="modal_btn" >Yes</a></li>
             </ul>
            </div>
          </div>
        </div>
    </div>
<!-- Chat Popup -->
    <div class="modal fade rw_modal Chat_modal" id="message_popup" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Send Text to +99 9999 9999 99</h4>
                </div>
            <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg' %} " alt="close"></a>
            </div>
            <div class="modal-body">
                <div class="chat_body">
                    <div class="chat_wrapper">
                        <div class="chat_message chat_message_rcv">
                            <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
                        </div>
                        <div class="chat_message chat_message_send">
                            <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, conval</p>
                        </div>
                        <div class="chat_message chat_message_rcv">
                            <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci </p>
                        </div>
                        <div class="chat_message chat_message_rcv">
                            <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus.</p>
                        </div>
                    </div>
                    <div class="type_chat">
                        <input type="text" placeholder="Type a message">
                        <span class="input_icon send"></span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.6.0.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %} "></script>
    <script src="{% static 'js/dataTables.bootstrap5.min.js' %} "></script>
    <script src="{% static 'js/jquery-ui.js' %} "></script>
    <script src="{% static 'js/select2.min.js' %} "></script>
   <script src="{% static 'js/custom.js' %} "></script>
    <script src="{% static 'js/contactForm.js' %} "></script>
</body>
</html>